@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root{
    --corLaranja: #f25c05;
    --corBege: #fcca46;
    --corEscura: #0d0d0d;
    --corAzul: #92e5e6;

    --fontT: 'Oleo Script Swash Caps', cursive;
    --fontN: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    align-items: center;
    box-shadow: 0px 3px 3px #17130784;
    font-family: var(--fontN);
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--corBege);
    height: 100px;
    font-size: 1em;
}

header > nav ul{
    display: flex;
    list-style: none;
    font-size: 1em;
    font-weight: 400;
    gap: 5rem;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: var(--corEscura);
    font-weight: bold;
    padding: 1rem;
    display: block;
    font-size: 1em;
}

header > nav > ul > li > a:hover{
    background-color: var(--corLaranja);
    color: var(--corAzul);
    transition: .4s;
}

.principalSlide #prodSlide > img {
    width: 350px;
    border-radius: 8px;
    object-fit: cover;
}

.principalSlide{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: background 0.4s ease-in;
    background-color: black;
}

.slider {
    display: none; 
}

.card {
    position: absolute;
    width: 70%; 
    height: 70%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.8s ease;
    background-color: white;
    border-radius: 8px;
}

#prodSlide {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#cards {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#item1:checked ~ #cards #song3,
#item2:checked ~ #cards #song1,
#item3:checked ~ #cards #song2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item1:checked ~ #cards #song2,
#item2:checked ~ #cards #song3,
#item3:checked ~ #cards #song1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item1:checked ~ #cards #song1,
#item2:checked ~ #cards #song2,
#item3:checked ~ #cards #song3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item1:checked ~ #cards #song1 img,
#item2:checked ~ #cards #song2 img,
#item3:checked ~ #cards #song3 img {
   box-shadow: 0px 0px 18px hsl(190, 100%, 50%);
}

.radio {
    cursor: pointer;
}

@media only screen and (max-width: 650px){
    .card {
        position: absolute;
        width: 60%; 
        height: 50%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: transform 0.8s ease;
    }
}