@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root{
    --corLaranja: #f25c05;
    --corBege: #fcca46;
    --corEscura: #0d0d0d;
    --corAzul: #92e5e6;

    --fontT: 'Oleo Script Swash Caps', cursive;
    --fontN: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontN);
}

img:hover{
    transform: scale(1.05);
    transition: ease-in-out .4s;
}

img{
    transition: .4s;
}

header{
    width: 100%;
    align-items: center;
    box-shadow: 0px 3px 3px #17130784;
    font-family: var(--fontN);
    border-bottom: 2px solid var(--corBege);
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--corBege);
    height: 100px;
    font-size: 1em;
}

header > nav ul{
    display: flex;
    list-style: none;
    font-size: 1em;
    font-weight: 400;
    gap: 5rem;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: var(--corEscura);
    font-weight: bold;
    padding: 1rem;
    display: block;
    font-size: 1em;
    border-radius: 5px;
    transition: 0.4s;
}

header > nav > ul > li > a:hover{
    background-color: var(--corEscura);
    color: var(--corLaranja);
    transition: .4s;
}

header nav #btn{
    display: none;
    cursor: pointer;
    background-color: var(--corEscura);
}

main div.tit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

main div.tit span{
    font-family: var(--fontT);
    font-size: 3.2em;
}

main div.tit h1{
    font-family: var(--fontT);
    font-size: 1.5em;
}

main .missao{
    transition: .4s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .missao aside{
    margin: 30px;
}

.sectionValores{
    background-color: var(--corLaranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    
}

.sectionValores div.val{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontT);
}

.sectionValores div.val h2{
    text-align: center;
    font-family: var(--fontT);
    font-size: 2rem;
}

.sectionValores div.valores{
   display: flex;
    padding: 1rem;
    width: 70%;
    overflow-x: scroll;
}

div.valores::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
    
  }
  
div.valores::-webkit-scrollbar-track {
    background-color: rgba(226, 226, 226, 0.26);    /* color of the tracking area */
    border-radius: 20px;
  }
  
div.valores::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }


.sectionValores div.valores aside{
    min-width: 300px;
    margin: 10px;
}

section.historia{
    justify-content: right;
    display: flex;
}

section.historia aside{
    margin: 30px;
}

footer{
    background-color: var(--corEscura);
    display: flex;
    font-family: var(--fontN);
    font-size: 1em;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: white;
}


@media (max-width: 750px){
    header nav #btn{
        display: block;
    }

    header nav .navPage{
        display: block;
        position:absolute;
        width: 100%;
        right: 0;
        background: var(--corBege);
        top: 100px;
        height: 0;
        transition: all 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden ;
    }

    nav.active .navPage{
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    .navPage a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid #f244052a;
        text-align: center;
    }

    .sectionValores{
      display: block;
    }

    .sectionValores div.valores{
        overflow-x: initial;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    main .missao aside img{
        width: 350px;
    }

    section.historia img{
       width: 350px;
    }
    section.historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img:hover{
        transform: scale(1);
        transition: none;
    }
    
    img{
        transition: none;
    }
}