@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root{
    --corLaranja: #f25c05;
    --corBege: #fcca46;
    --corEscura: #0d0d0d;
    --corAzul: #92e5e6;

    --fontT: 'Oleo Script Swash Caps', cursive;
    --fontN: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 3px #17130784;
    font-family: var(--fontN);
    font-size: 1em;
    width: 100%;
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-image: linear-gradient(to right, var(--corBege), #f0c754ba);
}

header > nav ul{
    display: flex;
    list-style: none;
    font-size: 1.2em;
    font-weight: 400;
}

header > nav > ul > li > a:hover{
    background-color: var(--corLaranja);
    color: var(--corAzul);
    transition: .4s;
    border-radius: 3px;
    text-decoration: underline;
}


header > nav > ul > li > a{
    text-decoration: none;
    color: var(--corEscura);
    font-weight: bold;
    padding: 10px 20px;
}

header .tit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: block;
    background-image: url("/img/amendoim.jpg");
    background-position: center center;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .tit .title{
   text-align: center;
   font-family: var(--fontT);
   color: white;
   text-shadow: 1px -1px 7px black;
}

header .tit .title h1{
    font-size: 3rem;
}

main{
    font-family: var(--fontN);

}

main h1{
    padding-top: 30px;
    font-family: var(--fontT);
    text-align: center;
    font-size: 3em;
}

main h2{
    font-family: var(--fontT);
    text-align: center;
    font-size: 2em;
}