@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root{
    --corLaranja: #f25c05;
    --corBege: #fcca46;
    --corEscura: #0d0d0d;
    --corAzul: #92e5e6;

    --fontT: 'Oleo Script Swash Caps', cursive;
    --fontN: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    align-items: center;
    box-shadow: 0px 3px 3px #17130784;
    font-family: var(--fontN);
    border-bottom: 2px solid var(--corBege);
}

header > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--corBege);
    height: 100px;
    font-size: 1em;
}

header > nav ul{
    display: flex;
    list-style: none;
    font-size: 1em;
    font-weight: 400;
    gap: 5rem;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: var(--corEscura);
    font-weight: bold;
    padding: 1rem;
    display: block;
    font-size: 1em;
    border-radius: 5px;
    transition: 0.4s;
}

header > nav > ul > li > a:hover{
    background-color: var(--corEscura);
    color: var(--corLaranja);
    transition: .4s;
}

header .tit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: block;
    background-image: url("../img/amendoim.jpg");
    background-size: cover;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .tit .title{
   text-align: center;
   font-family: var(--fontT);
   color: white;
   text-shadow: 1px -1px 7px black;
}

header .tit .title h1{
    font-size: 3rem;
}

main{
    font-family: var(--fontN);

}

button {
    cursor: pointer;
}

main h1{
    padding-top: 30px;
    font-family: var(--fontT);
    text-align: center;
    font-size: 3em;
}

main h2{
    font-family: var(--fontT);
    text-align: center;
    font-size: 2em;
}

header nav #btn{
    display: none;
    cursor: pointer;
    background-color: var(--corEscura);
}

main div.video{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: white;
}

section.prod{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--corLaranja);
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap-reverse;
}

section.prod img {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 3px 10px #0f0f0f7a;
}

section.prod img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

section.prod div{
    max-width: 50vw;
    padding: 5rem;
    background-color: white;
    font-family: var(--fontN);
    font-size: 1.1em;
    box-shadow: 2px 3px 10px #000000a1;
    border-radius: 5px;}

section.prod div button{
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    background: var(--corEscura);
    color: #ff7b2e;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.5s;
    border: none;
}

section.prod div button:hover {
    padding: 5px 15px;
    transition: 0.5s;
}

section.receber{
    background-image: url("../img/background.jpg");
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap-reverse;
}

section.receber div.content{
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: var(--corEscura);
    justify-content: center;
    align-items: center;
    font-family: var(--fontN);
    font-size: 1.1em;
    padding: 7rem;
    color: white; 
}

section.receber div.content nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1rem;
    gap: 1rem;
}

#inpEmail, #btnReceber {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

#btnReceber {
    background: var(--corLaranja);
    border: none;
    border-radius: 3px;
    color: white;
}

#inpEmail {
    border-radius: 3px;
    outline: none;
    border: none;
}

main div.video {
    background: var(--corEscura);
}

ion-icon {
    font-size: 40px;
    color: white;
    transition: 0.5s;
}

ion-icon:hover {
    color: var(--corLaranja);
    transition: 0.5s;
}

footer{
    background-color: var(--corEscura);
    display: flex;
    font-family: var(--fontN);
    font-size: 1em;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
}

@media (max-width: 750px){
    header nav #btn{
        display: block;
    }

    header nav .navPage{
        display: block;
        position:absolute;
        width: 100%;
        right: 0;
        background: var(--corBege);
        top: 100px;
        height: 0;
        transition: all 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden ;
    }

    nav.active .navPage{
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    .navPage a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid #f244052a;
        text-align: center;
    }

    section.receber img {
        display: none;
    }

    section.receber div.content, section.prod div {
        max-width: 350px;
    }

    section.receber div.email {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.receber div.content {
        text-align: center;
    }
}